{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'random_logo.png' %}"/>
    <title>
        {% block title %}{% endblock %}
    </title>

</head>
<body>
{% block content %}

{% endblock %}
<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
    const current_date = new Date().toISOString().split('T')[0];
    document.cookie = "django_timezone=" + timezone;
    document.cookie = "current_date=" + current_date;
</script>
</body>
</html>
